<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Template</title>
</head>

<body>
    <div class="container">
        <h1>Choose a template for your Resume please!</h1>
        <div class="cards">
            <div class="card" id="temp1">
                <h3>Basic Muse</h3>
            </div>
            <div class="card" id="temp2">
                <h3>Blue Amaze</h3>
            </div>
        </div>
    </div>
</body>

</html>